<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="no.aspit.aspitcapture">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".AspitCaptureApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="no.aspit.aspitcapture.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".ui.patientlookup.PatientLookUpActivity">
        </activity>
        <activity android:name=".ui.imagecapture.CapturedImageDetailsAddActivity"/>
        <activity android:name=".ui.imagecapture.CapturedImageFurtherOptionSelectionActivity"/>
        <activity android:name=".ui.uploadsummary.UploadsActivity"/>
        <activity android:name=".ui.patientlookup.PatientSummaryActivity"/>
        <activity android:name=".ui.startscreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.startscreen.LoginActivity">
        </activity>
    </application>

</manifest>